@charset "UTF-8";

:root {
     --corPadrao: rgb(75, 248, 6);
     --fontPadrao: Arial, Helvetica, sans-serif;
}

/* MOBILE FIRST

     Telas Menores: 465px;
*/



* {
     box-sizing: border-box;
     margin: 0;header > div#sembotao > nav > a{
     text-decoration: none;
     color: black;
     pink;
     padding: 5px;
     border-radius: 3px;
     font-weight: bold;
}
     padding: 0;
     font-family: var(--fontPadrao);
     /* outline: auto; */
}

hr {
     color: greenyellow;
}

body {
     background-image: url(../Assets/background001.jpg);
     background-size: cover;
     background-position: center right;
}

header {
     display: flex;
     background-color: black;
     justify-content: space-between;
     align-items: center;
}

header > div#sembotao {
     width: 100vw;
     text-align: center;
     padding-left: 10px;
     color: var(--corPadrao);
}

header > div#sembotao > nav {
     display: flex;
     justify-content: center;
     align-items: center;
     yellow;
     height: 40px;
     gap: 10px;
}

header > div#sembotao > nav > a{
     text-decoration: none;
     color: var(--corPadrao);
     chocolate;
     padding: 5px;
     border-radius: 3px;
     font-weight: bold;
}

header  > p{
     color: var(--corPadrao);
     margin-left: 
     10px;
}

header > button {
     width: 35px;
     height: 40px;
     border-radius: 5px;
     border: none;
     font-size: 1.8em;
     color: var(--corPadrao);
}

main {
     background-color: black;
     color: var(--corPadrao);
}

main > section#presentationMe {
     display: flex;
}

main > section#presentationMe > article#textAboutMe {
     padding: 10px;
}

main > section#presentationMe > article#textAboutMe > h1 {
     font-size: 1.5em;
     padding-bottom: 10px;
}

main > section#presentationMe > article#textAboutMe > p {
     text-align: justify;
}

main > section#presentationMe > picture {
     display: flex;
}

main > section#presentationMe > picture > img {

     width: 200px;
     height: 250px;
}

main > section#myProjects {
     flex-direction: column;
     padding: 10px;
}

main > section#myProjects > section.projetoTal {
     display: flex;
     margin-bottom: 10px;
}

main > section#myProjects > section.projetoTal > picture {
     display: flex;
}

main > section#myProjects > section.projetoTal > picture > img {
     width: 200px;
     height: 200px;
     border-radius: 5px;
}

main > section#myProjects > section.projetoTal > article.sobreOProjeto {
     yellowgreen;
     padding: 5px;
}

main > section#myProjects > section.projetoTal > article.sobreOProjeto > h1 {
     padding-bottom: 5px;
     text-align: center;
}

main > section#myProjects > section.projetoTal > article.sobreOProjeto > p {
     text-align: justify;
}

footer {
     background-color: black;
}

footer > div#criadoPor {
     display: flex;
     height: 80px;
     justify-content: center;
     align-items: flex-end;
     padding-bottom: 15px;
}

footer > div#criadoPor > p {
     color: white;
     font-size: 1.5em;
}

footer > div#redesSociais {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 60px;
     gap: 10px;
}

footer > div#redesSociais > a {
     font-size: 1.2em;
     color: white;
     text-decoration: none;

}

footer > div#redesSociais > a > i {
     font-size: 1.4em;
     color: var(--corPadrao);
}